In [51]:
from sklearn import metrics
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.metrics import recall_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from imblearn.over_sampling import SMOTE
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
import xgboost as xgb
from catboost import CatBoostClassifier

In [52]:
df=pd.read_csv('tel_churn.csv')

In [53]:
df.head()

,Unnamed: 0,SeniorCitizen,MonthlyCharges,TotalCharges,Churn,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure_group_1 - 12,tenure_group_13 - 24,tenure_group_25 - 36,tenure_group_37 - 48,tenure_group_49 - 60,tenure_group_61 - 72
0,0,0,29.85,29.85,0,1,0,0,1,1,...,0,0,1,0,1,0,0,0,0,0
1,1,0,56.95,1889.50,0,0,1,1,0,1,...,0,0,0,1,0,0,1,0,0,0
2,2,0,53.85,108.15,1,0,1,1,0,1,...,0,0,0,1,1,0,0,0,0,0
3,3,0,42.30,1840.75,0,0,1,1,0,1,...,1,0,0,0,0,0,0,1,0,0
4,4,0,70.70,151.65,1,1,0,1,0,1,...,0,0,1,0,1,0,0,0,0,0

In [54]:
df=df.drop('Unnamed: 0',axis=1)

In [55]:
df.shape

(7032, 51)

In [56]:
x=df.drop('Churn',axis=1)
x.head()

,SeniorCitizen,MonthlyCharges,TotalCharges,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,PhoneService_No,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure_group_1 - 12,tenure_group_13 - 24,tenure_group_25 - 36,tenure_group_37 - 48,tenure_group_49 - 60,tenure_group_61 - 72
0,0,29.85,29.85,1,0,0,1,1,0,1,...,0,0,1,0,1,0,0,0,0,0
1,0,56.95,1889.50,0,1,1,0,1,0,0,...,0,0,0,1,0,0,1,0,0,0
2,0,53.85,108.15,0,1,1,0,1,0,0,...,0,0,0,1,1,0,0,0,0,0
3,0,42.30,1840.75,0,1,1,0,1,0,1,...,1,0,0,0,0,0,0,1,0,0
4,0,70.70,151.65,1,0,1,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0

In [57]:
y=df['Churn']

In [58]:
y.value_counts().sum()

7032

In [59]:
y[:5]

0    0
1    0
2    1
3    0
4    1
Name: Churn, dtype: int64

In [60]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

In [61]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((4922, 50), (2110, 50), (4922,), (2110,))

In [62]:
y_train.value_counts()

Churn
0    3614
1    1308
Name: count, dtype: int64

In [63]:
sm = SMOTE()
x_resampled, y_resampled = sm.fit_resample(x_train, y_train)

In [64]:
y_resampled.value_counts()

Churn
1    3614
0    3614
Name: count, dtype: int64

In [65]:
x_resampled.shape,y_resampled.shape

((7228, 50), (7228,))

In [66]:
scaler = MinMaxScaler()
x_resampled = scaler.fit_transform(x_resampled)
x_test = scaler.transform(x_test)
x_resampled = pd.DataFrame(x_resampled, columns=x.columns)
x_test = pd.DataFrame(x_test, columns=x.columns)

In [67]:
x_resampled.head()

,SeniorCitizen,MonthlyCharges,TotalCharges,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,PhoneService_No,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure_group_1 - 12,tenure_group_13 - 24,tenure_group_25 - 36,tenure_group_37 - 48,tenure_group_49 - 60,tenure_group_61 - 72
0,0.0,0.401096,0.060120,1.0,0.0,1.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.431490,0.180373,0.0,1.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,0.0,0.515197,0.023263,1.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.551570,0.057830,0.0,1.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.420030,0.454059,0.0,1.0,0.0,1.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [68]:
param_grids = {
    'Logistic Regression': {
        'C': [0.01, 0.1, 1, 10, 100],
        'solver': ['liblinear', 'saga']
    },
    'Decision Tree': {
        'max_depth': [None, 10, 20, 30],
        'min_samples_split': [2, 5, 10],
        'min_samples_leaf': [1, 2, 4]
    },
    'Random Forest': {
        'n_estimators': [50, 100, 200],
        'max_depth': [None, 10, 20, 30],
        'min_samples_split': [2, 5, 10]
    },
    'XGBoost': {
        'n_estimators': [50, 100, 200,300],
        'learning_rate': [0.001, 0.01, 0.2],
        'max_depth': [3, 5, 7,9],
        'subsample': [0.8, 1.0]
    },
    'CatBoost': {
        'iterations': [50, 100],
        'learning_rate': [0.01, 0.1],
        'depth': [4, 6, 8]
    }
}

In [69]:
# Initialize the models
models = {
    'Logistic Regression': LogisticRegression(),
    'Decision Tree': DecisionTreeClassifier(),
    'Random Forest': RandomForestClassifier(),
    'XGBoost': xgb.XGBClassifier(),
    'Naive Bayes': GaussianNB(),
    'CatBoost': CatBoostClassifier()
}

In [70]:
from sklearn.metrics import accuracy_score, recall_score, f1_score, precision_score

best_models = {}
best_scores = []

# Loop through each model
for model_name, model in models.items():
    if model_name == 'Naive Bayes':
        model.fit(x_resampled, y_resampled)
        y_pred = model.predict(x_test)
        
        # Calculate evaluation metrics
        accuracy = accuracy_score(y_test, y_pred)
        recall = recall_score(y_test, y_pred, average='binary')
        f1 = f1_score(y_test, y_pred, average='binary')
        precision = precision_score(y_test, y_pred, average='binary')
        
        # Store the best model and its scores
        best_models[model_name] = model
        best_scores.append({
            'Model': model_name,
            'Accuracy': accuracy,
            'Recall': recall,
            'F1 Score': f1,
            'Precision': precision
        })
        print(f'{model_name} Accuracy: {accuracy:.2f}')
        print(f'{model_name} Recall: {recall:.2f}')
        print(f'{model_name} F1 Score: {f1:.2f}')
        print(f'{model_name} Precision: {precision:.2f}\n')
    else:
        print(f'Tuning hyperparameters for {model_name}...')
        grid_search = GridSearchCV(model, param_grids[model_name], cv=5, n_jobs=-1, verbose=1)
        grid_search.fit(x_resampled, y_resampled)
        
        # Get the best model from GridSearchCV
        best_model = grid_search.best_estimator_
        y_pred = best_model.predict(x_test)
        
        # Calculate evaluation metrics
        accuracy = accuracy_score(y_test, y_pred)
        recall = recall_score(y_test, y_pred, average='binary')
        f1 = f1_score(y_test, y_pred, average='binary')
        precision = precision_score(y_test, y_pred, average='binary')
        
        # Store the best model and its scores
        best_models[model_name] = best_model
        best_scores.append({
            'Model': model_name,
            'Accuracy': grid_search.best_score_,
            'Recall': recall,
            'F1 Score': f1,
            'Precision': precision
        })
        
        print(f'Best parameters for {model_name}: {grid_search.best_params_}')
        print(f'Best cross-validation score: {grid_search.best_score_:.2f}')
        print(f'{model_name} Test Accuracy: {accuracy:.2f}')
        print(f'{model_name} Test Recall: {recall:.2f}')
        print(f'{model_name} Test F1 Score: {f1:.2f}')
        print(f'{model_name} Test Precision: {precision:.2f}\n')

# Create a DataFrame to display all results
results_df = pd.DataFrame(best_scores)

Tuning hyperparameters for Logistic Regression...
Fitting 5 folds for each of 10 candidates, totalling 50 fits

C:\Users\Nimesh_140588\AppData\Local\anaconda3\Lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(

Best parameters for Logistic Regression: {'C': 1, 'solver': 'saga'}
Best cross-validation score: 0.83
Logistic Regression Test Accuracy: 0.79
Logistic Regression Test Recall: 0.52
Logistic Regression Test F1 Score: 0.57
Logistic Regression Test Precision: 0.64

Tuning hyperparameters for Decision Tree...
Fitting 5 folds for each of 36 candidates, totalling 180 fits
Best parameters for Decision Tree: {'max_depth': 10, 'min_samples_leaf': 2, 'min_samples_split': 2}
Best cross-validation score: 0.82
Decision Tree Test Accuracy: 0.75
Decision Tree Test Recall: 0.61
Decision Tree Test F1 Score: 0.56
Decision Tree Test Precision: 0.52

Tuning hyperparameters for Random Forest...
Fitting 5 folds for each of 36 candidates, totalling 180 fits
Best parameters for Random Forest: {'max_depth': 20, 'min_samples_split': 10, 'n_estimators': 200}
Best cross-validation score: 0.85
Random Forest Test Accuracy: 0.78
Random Forest Test Recall: 0.56
Random Forest Test F1 Score: 0.58
Random Forest Test Precision: 0.60

Tuning hyperparameters for XGBoost...
Fitting 5 folds for each of 96 candidates, totalling 480 fits
Best parameters for XGBoost: {'learning_rate': 0.01, 'max_depth': 7, 'n_estimators': 300, 'subsample': 0.8}
Best cross-validation score: 0.85
XGBoost Test Accuracy: 0.79
XGBoost Test Recall: 0.63
XGBoost Test F1 Score: 0.61
XGBoost Test Precision: 0.59

Naive Bayes Accuracy: 0.74
Naive Bayes Recall: 0.78
Naive Bayes F1 Score: 0.61
Naive Bayes Precision: 0.51

Tuning hyperparameters for CatBoost...
Fitting 5 folds for each of 12 candidates, totalling 60 fits
0:	learn: 0.6341654	total: 5.41ms	remaining: 535ms
1:	learn: 0.5953123	total: 10.4ms	remaining: 511ms
2:	learn: 0.5519780	total: 15.5ms	remaining: 502ms
3:	learn: 0.5237707	total: 20.4ms	remaining: 491ms
4:	learn: 0.5056467	total: 25.5ms	remaining: 484ms
5:	learn: 0.4818062	total: 30.8ms	remaining: 483ms
6:	learn: 0.4660178	total: 35.8ms	remaining: 476ms
7:	learn: 0.4521784	total: 40.6ms	remaining: 467ms
8:	learn: 0.4415045	total: 45.5ms	remaining: 460ms
9:	learn: 0.4311549	total: 50.9ms	remaining: 458ms
10:	learn: 0.4241578	total: 56.1ms	remaining: 454ms
11:	learn: 0.4167109	total: 61.3ms	remaining: 450ms
12:	learn: 0.3918391	total: 66.6ms	remaining: 446ms
13:	learn: 0.3827774	total: 72.2ms	remaining: 444ms
14:	learn: 0.3785380	total: 77.5ms	remaining: 439ms
15:	learn: 0.3753767	total: 82.6ms	remaining: 434ms
16:	learn: 0.3723389	total: 88ms	remaining: 430ms
17:	learn: 0.3696247	total: 92.9ms	remaining: 423ms
18:	learn: 0.3607645	total: 98ms	remaining: 418ms
19:	learn: 0.3506034	total: 104ms	remaining: 414ms
20:	learn: 0.3477427	total: 109ms	remaining: 410ms
21:	learn: 0.3462877	total: 114ms	remaining: 405ms
22:	learn: 0.3445815	total: 119ms	remaining: 399ms
23:	learn: 0.3407260	total: 124ms	remaining: 394ms
24:	learn: 0.3389871	total: 129ms	remaining: 388ms
25:	learn: 0.3373266	total: 135ms	remaining: 384ms
26:	learn: 0.3357681	total: 140ms	remaining: 378ms
27:	learn: 0.3349374	total: 145ms	remaining: 372ms
28:	learn: 0.3333835	total: 150ms	remaining: 366ms
29:	learn: 0.3320418	total: 155ms	remaining: 362ms
30:	learn: 0.3310953	total: 160ms	remaining: 356ms
31:	learn: 0.3298877	total: 165ms	remaining: 351ms
32:	learn: 0.3256167	total: 170ms	remaining: 345ms
33:	learn: 0.3246738	total: 175ms	remaining: 339ms
34:	learn: 0.3238705	total: 180ms	remaining: 335ms
35:	learn: 0.3227836	total: 185ms	remaining: 330ms
36:	learn: 0.3216982	total: 190ms	remaining: 324ms
37:	learn: 0.3172736	total: 196ms	remaining: 319ms
38:	learn: 0.3167075	total: 202ms	remaining: 315ms
39:	learn: 0.3160276	total: 208ms	remaining: 312ms
40:	learn: 0.3153841	total: 213ms	remaining: 307ms
41:	learn: 0.3145422	total: 219ms	remaining: 302ms
42:	learn: 0.3127904	total: 224ms	remaining: 297ms
43:	learn: 0.3123520	total: 230ms	remaining: 293ms
44:	learn: 0.3118507	total: 242ms	remaining: 296ms
45:	learn: 0.3112408	total: 251ms	remaining: 294ms
46:	learn: 0.3107487	total: 257ms	remaining: 290ms
47:	learn: 0.3101985	total: 264ms	remaining: 286ms
48:	learn: 0.3084729	total: 270ms	remaining: 281ms
49:	learn: 0.3079454	total: 275ms	remaining: 275ms
50:	learn: 0.3059057	total: 280ms	remaining: 269ms
51:	learn: 0.3053908	total: 286ms	remaining: 264ms
52:	learn: 0.3050989	total: 291ms	remaining: 258ms
53:	learn: 0.3046982	total: 296ms	remaining: 252ms
54:	learn: 0.3043746	total: 302ms	remaining: 247ms
55:	learn: 0.3028537	total: 307ms	remaining: 241ms
56:	learn: 0.3025876	total: 312ms	remaining: 235ms
57:	learn: 0.3019679	total: 317ms	remaining: 229ms
58:	learn: 0.3015567	total: 322ms	remaining: 224ms
59:	learn: 0.3013471	total: 327ms	remaining: 218ms
60:	learn: 0.3007784	total: 332ms	remaining: 213ms
61:	learn: 0.3004089	total: 337ms	remaining: 207ms
62:	learn: 0.2982703	total: 343ms	remaining: 201ms
63:	learn: 0.2977282	total: 347ms	remaining: 195ms
64:	learn: 0.2969409	total: 352ms	remaining: 189ms
65:	learn: 0.2965109	total: 356ms	remaining: 184ms
66:	learn: 0.2961547	total: 362ms	remaining: 178ms
67:	learn: 0.2957970	total: 367ms	remaining: 173ms
68:	learn: 0.2955853	total: 372ms	remaining: 167ms
69:	learn: 0.2952097	total: 377ms	remaining: 162ms
70:	learn: 0.2948939	total: 382ms	remaining: 156ms
71:	learn: 0.2945832	total: 388ms	remaining: 151ms
72:	learn: 0.2941853	total: 393ms	remaining: 145ms
73:	learn: 0.2938523	total: 400ms	remaining: 140ms
74:	learn: 0.2934690	total: 405ms	remaining: 135ms
75:	learn: 0.2931847	total: 411ms	remaining: 130ms
76:	learn: 0.2928853	total: 419ms	remaining: 125ms
77:	learn: 0.2920010	total: 424ms	remaining: 120ms
78:	learn: 0.2916525	total: 431ms	remaining: 115ms
79:	learn: 0.2913065	total: 437ms	remaining: 109ms
80:	learn: 0.2911061	total: 443ms	remaining: 104ms
81:	learn: 0.2907191	total: 451ms	remaining: 98.9ms
82:	learn: 0.2889351	total: 457ms	remaining: 93.5ms
83:	learn: 0.2885837	total: 462ms	remaining: 88ms
84:	learn: 0.2881323	total: 468ms	remaining: 82.6ms
85:	learn: 0.2878160	total: 482ms	remaining: 78.5ms
86:	learn: 0.2874189	total: 489ms	remaining: 73ms
87:	learn: 0.2870512	total: 496ms	remaining: 67.6ms
88:	learn: 0.2866984	total: 501ms	remaining: 61.9ms
89:	learn: 0.2863068	total: 507ms	remaining: 56.3ms
90:	learn: 0.2860472	total: 513ms	remaining: 50.7ms
91:	learn: 0.2857635	total: 518ms	remaining: 45ms
92:	learn: 0.2855277	total: 523ms	remaining: 39.4ms
93:	learn: 0.2852705	total: 528ms	remaining: 33.7ms
94:	learn: 0.2850043	total: 533ms	remaining: 28.1ms
95:	learn: 0.2845652	total: 539ms	remaining: 22.5ms
96:	learn: 0.2840298	total: 545ms	remaining: 16.8ms
97:	learn: 0.2836177	total: 551ms	remaining: 11.2ms
98:	learn: 0.2833050	total: 557ms	remaining: 5.63ms
99:	learn: 0.2829666	total: 563ms	remaining: 0us
Best parameters for CatBoost: {'depth': 4, 'iterations': 100, 'learning_rate': 0.1}
Best cross-validation score: 0.85
CatBoost Test Accuracy: 0.79
CatBoost Test Recall: 0.59
CatBoost Test F1 Score: 0.60
CatBoost Test Precision: 0.61

In [71]:
results_df

                 Model  Accuracy    Recall  F1 Score  Precision
0  Logistic Regression  0.833727  0.520499  0.573111   0.637555
1        Decision Tree  0.816566  0.606061  0.561056   0.522273
2        Random Forest  0.848666  0.559715  0.579336   0.600382
3              XGBoost  0.847558  0.631016  0.610871   0.591973
4          Naive Bayes  0.740284  0.778966  0.614627   0.507549
5             CatBoost  0.845346  0.588235  0.596745   0.605505

In [77]:
y_pred=best_model.predict(x_test)

In [78]:
metrics.confusion_matrix(y_test, y_pred)

array([[1334,  215],
       [ 231,  330]], dtype=int64)

In [79]:
import pickle
filename = 'model.sav'
pickle.dump(best_model, open(filename, 'wb'))